
<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Recovery Password</title>
    <style>
      .container { display: flex; justify-content: center; align-items: center;
      flex-direction: column; }
    </style>
  </head>

  <body>

    <p>Hello <b>{{name}}</b>,</p>
    <p>You are receiving this email because we received a password reset request
      for your account.
    </p>
    <div class='container'>
      <a
        href='{{url}}'
        style='
                    display: inline-block;
                    background-color: #2563EB; /* Green */
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    border-radius: 5px;
                    '
      >Reset</a>
    </div>

    <p>If you did not request a password reset, no further action is required.</p>
    <p>Regard,</p>
    <p>Bebes's team</p>
  </body>

</html>