
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Đặt lại mật khẩu</title>
    <style>
      .container { display: flex; justify-content: center; align-items: center;
      flex-direction: column; }
    </style>
  </head>
  <body>

    <p>Xin chào <b>{{name}}</b>,</p>
    <p>Bạn nhận được email này bởi vì chúng tôi nhận được yêu cầu đặt lại mật
      khẩu của bạn.
    </p>
    <div class='container'>
      <a
        href='{{url}}'
        style='
                    display: inline-block;
                    background-color: #2563EB; /* Green */
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    border-radius: 5px;
                    '
      >Đặt lại</a>
    </div>

    <p>Nếu bạn không thực hiện hành động này vui lòng bỏ qua email.</p>
    <p>Thân chào,</p>
    <p>Bebes's team</p>
  </body>
</html>